.div-group {
    display: flex;
    align-items: flex-start;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-img {
    height: 10vh;
    max-width: 100%;
    margin-left: 5vh;
}
#txt-logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    align-items: flex-start;
}
.header-btn {
    display: flex;
    gap: 10px;
    margin-right: 5vh;
}