.div-father {
    display: flex;
}
#section-one .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    flex-wrap: wrap;
    border: 0;
    border-radius: 5vh;
    padding-block: 5vh;
    margin-block: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    flex: 1; /*se acaso der errado, foi isso*/
    height: 50vh;
    width: 27vw;
}
#section-two {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center; 
    flex-wrap: wrap;
    align-content: flex-start;
    border:none;
    border-radius: 5vh;
    padding-block: 5vh;
    margin-block: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    flex: 1; /*se acaso der errado, foi isso*/
    height: 50vh;
    width: 27vw;
    background: linear-gradient( rgba(88,115,112), rgba(130,159,139));
}
#section-three {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center; 
    flex-wrap: wrap;
    align-content: flex-start;
    border:none;
    border-radius: 5vh;
    padding-block: 5vh;
    margin-block: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    flex: 1; /*se acaso der errado, foi isso*/
    height: 50vh;
    width: 27vw;
    background: linear-gradient( rgba(88,115,112), rgba(130,159,139));
}
#p-section-one {
    padding-left: 1vw;
}
#p-section-two {
    margin-left: 4vw;
}
#txt-section-three {
    font-size: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D9C6A2;
}
.content {
    background: linear-gradient( rgba(115,39,59), rgba(204,143,136));
    display: flex;
    align-items: flex-end;
    align-content: flex-start;
    justify-content: center;
}
#img-content {
    height: 10vh;
    width: 5vw;
}
#h2-content {
    font-size: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D9C6A2;
}
#content-video {
    margin-left: 10%;
    border: 0;
    border-radius: 4.5vh;
    box-shadow: 10px 5px 5px rgba(56, 56, 56, 0.575);
}




































@media (max-width: 450px) {
    section .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        background: linear-gradient( rgba(7, 8, 8, 0.395), rgba(27, 29, 31, 0.655));
        border: 0;
        border-radius: 5vh;
        padding-block: 5%;
        margin-block: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #p-content {
        font-size: 5vh;
    }
    #content-video {
        margin-left: 10%;
        border: 0;
        border-radius: 4.5vh;
        box-shadow: 10px 5px 5px rgba(56, 56, 56, 0.575);
}
}
