header {
    display: flex;
    justify-content: space-between; /* Espaça os itens dentro do header */
    align-items: center; /* Alinha verticalmente */ 
    
    border: 1px;
    
    width: 100vw;
    height: auto;
    border-bottom: solid 1px #80c6ff;
}
.div-group {
    display: flex;
    align-items: flex-start;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}
#logo-img {
    height: 10vh;
    max-width: 100%;
    margin-left: 5vh;
    
    transition: transform 5s ease-in-out;
}
#txt-logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient( rgba(128, 198, 255), rgba(70, 172, 255));
    -webkit-background-clip: text; /* Clipa o background ao texto (compatível com WebKit) */
    background-clip: text; /* Clipa o background ao texto (padrão) */
    color: transparent; /* Torna o preenchimento do texto transparente para que o background apareça */
    align-items: flex-start;
    padding: 0.5vw;
}
.header-btn {
    display: flex;
    gap: 10px;
    margin-right: 5vh;
}

.h-btn {
    border: 0.1vh solid #80c6ff;
    border-radius: 1.7vh 0.5vw;
    width: 7.33vw;
    height: 5.33vh;
    font-size: 100%;
    color: aliceblue;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background: transparent;
    transition: all 0.2s ease-in-out;
}
.header-btn .h-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1vh;
    width: 5.33vw;
    height: 0.1vh;
    background: rgb(138, 200, 255);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.h-btn:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
.h-btn:hover {
    background: linear-gradient( rgba(128, 198, 255, 0.555), rgba(70, 172, 255, 0.555));
    /* transform: scale(1.1); */
    cursor: pointer;
    transform: translateY(-0.2vh);

    box-shadow: 0.7vh 0.5vh 3.33vh rgba(128, 198, 255, 0.555);
}





































@media (max-width: 480) {

    .div-group {
        display: flex;
        align-items: flex-start;
        width: 10%;
        height: auto;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: auto;
    }
    #logo-img {
        height: 10vh;
        max-width: 100%;
        margin-left: 5vh;
        transition: transform 0.5s ease-in-out;
    }
    #logo-img:hover {
        transform: rotate(360deg);
    }
    #txt-logo {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: aliceblue;
        align-items: flex-start;
    }
    .header-btn {
        display: flex;
        gap: 10px;
        margin-right: 5vh;
    }
    #h-btn {
        justify-content: space-evenly;
        display: flex;
        align-items: center;
}
}