#navBanners {
    margin-top: 5vh;
    gap: 10vw;
    width: 400vw;
    height: 35vh;
    display: inline;
    left: 0;

    top: 16.3vh;
    position: absolute;
    
    display: flex;
    flex-direction: row;
    transition: .2s ease;
}
.banner {
    width: 90vw;
    height: 35vh;
    margin: 0 5vw;
    background-color: red;
    border: 0;
    border-radius: 2vw;
}
#idBannerUm{
    width: 100vw;
    height: 59.9vh;
    background-color: aliceblue;
}
#idBannerDois{
    width: 100vw;
    height: 59.9vh;
    background-color: aqua;
}
#idBannerTres{
    
    width: 100vw;
    height: 59.9vh;
    background-color: black;
}
#idBannerQuatro{
    width: 100vw;
    height: 59.9vh;
    background-color: #0088ff;
}
#btnBanners {
    width: 10vw;
    height: 5vh;

    position: absolute;
    left: 75vw;
    top: 75vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btnBanner {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    border: none;
    transition: all .3s ease;
}
.btnBanner:hover {
    transform: scale(1.1);
    cursor: pointer;
}
