body {
    width: 100vw;
    height: 100vh;
    background: url('https://images6.alphacoders.com/136/thumb-1920-1369564.jpeg') 
    no-repeat center;
    background-size: cover;
}
#cartoes{
    width: 100vw;
    display: grid;
    justify-content: center;
    grid-template-columns: 20vw 20vw 20vw 20vw;
}

.cartao{
    width: 15vw;
    height: 40vh;
    margin: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
    align-items: center;

    border-radius: 1vw;
    border: 0.1vh solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.cartao:hover{
    background: linear-gradient( rgba(41, 41, 41, 0.555), rgba(17, 19, 20, 0.555));
    border: none;
    transform: scale(1.02);
}

.cartao img{
    width: 15vw;
    height: 25vh;
    border-radius: 2vh;
}

.cartao h1{
    font-size: 0.8vw;
}

.cartao h3{
    text-align: center;
    font-size: 1.5vw;
}

.cartao div{
    height: 10%;
}

.button_card{
    height: 100%;
    border: none;
    border-radius: 5vw;
    color: black;
    cursor: pointer;

    transition: .2s ease-in-out;
    box-shadow: 0.1vw 0.1vw 0.1vw rgba(33, 33, 33, 0.3);
}

.excluir{
    width: 20%;
    background-color: #f14598;
}
.excluir:hover{
    background-color: #852956;
}

.att{
    width: 50%;
    background-color: #26b2da;
}
.att:hover{
    background-color: #1b5c6e;
}

.cartao_add{
    border: none;
    font-size: 11.5vw;
    font-family: 'fontS';

    transition: all 0.2s ease-in-out;
}

.cartao_add:hover{
    color: white;
}
#telaAtt {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100vw;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

#inputs-att {
    width: 30vw;
    height: 50vh;
    background-color: white;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh 0;
}

#buttons-telaAtt {
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

#telaCadastro {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

#inputs-cad {
    width: 30vw;
    height: 50vh;
    background-color: white;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh 0;
}

#buttons-telaCad {
    width: 15vw;
    display: flex;
    justify-content: space-between;
}
