#body {
    width: 100vw;
    height: 100vh;
    bottom: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('https://live.staticflickr.com/1860/43195298665_f6d10be226_h.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    width: 100vw;
    height: 15vh;
    display: flex;
    bottom: 0;
    top: 0;
}
header button {
    width: 100vw;
    height: 15vh;
    align-items: end;
}