<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="./../css/formação/formação.css">
    <script type="module" src="./../../controller/formacao/formacoes.js" defer></script>
</head>
<body>
    <section id="cartoes">
    </section>
    <section id="telaCadastro">
        <div id="inputs-cad">
            <input type="text" class="input-text-tela-cad" id="nome">
            <input type="text" class="input-text-tela-cad" id="valor">
            <input type="text" class="input-text-tela-cad" id="link">
            <div id="buttons-telaCad">
                <div class="button-telaCad">Adicionar</div>
                <div class="button-telaCad">Cancelar</div>
            </div>
        </div>
    </section>
    <section id="telaAtt">
        <div id="inputs-att">
            <input id="nomeAtt" placeholder="nome">
            <input id="valorAtt" placeholer="valor">
            <input id="linkAtt" placeholder="link">
            <div id="buttons-telaAtt">
                <button onclick="recolheDadosAtt()">Alterar</button>
                <button onclick="escondeTelaAtt()">Cancelar</button>
            </div>
        </div>
    </section>
</body>
</html>

