<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ping Pong</title>
    <link rel="stylesheet" href="./../css/pingpong/pinpong.css">
    <script src="https://kit.fontawesome.com/98914b98a5.js" crossorigin="anonymous"></script>
    <script type="module" src="./../../controller/pingpong/pingPong.js" defer></script>
</head>
<body id="body">
    <header>
        <button id="twoPlayers" onclick="window.location.href='./pong2players.html'">Dois jogadores</button>
        <button onclick="window.location.href='./../../../view/pages/index.html'">Menu</button>
    </header>
    <div id="gameArea">
        <h1>Ping Pong IA</h1>
        <canvas></canvas>
        <p>Controle a raquete esquerda usansdo os Arrows</p>
    </div>
</body>
</html>