<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ping Pong</title>
    <link rel="stylesheet" href="./../css/pong2players/pong2players.css">
    <script src="https://kit.fontawesome.com/98914b98a5.js" crossorigin="anonymous"></script>
    <script type="module" src="./../../controller/pong2players/pong2players.js" defer></script>
</head>
<body id="body">
    <header>
    </header>
    <div id="gameArea">
        <h1>Ping Pong Game</h1>
        <canvas></canvas>
        <p>Controle a raquete esquerda usansdo os W,S
        </p>
        <p>Controle a raquete direita usansdo os Arrows</p>
    </div>
</body>
</html>