<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/projetos/projetos.css">
    <script src="https://kit.fontawesome.com/98914b98a5.js" crossorigin="anonymous"></script>
    <script type="module" src="./../../controller/projetos/projetos.js" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <img id="logo-img"src="https://www.pngarts.com/files/5/Travis-Scott-Transparent-Image.png" alt="logo">
            <h1 id="txt-logo">Travis Scott</h1>
        </div>
        <div class="header-btn">
            <button id="h-btn">
                <i class="fa-solid fa-play"></i>
            </button>
            <button id="h-btn">
                <i class="fa-brands fa-instagram"></i>
            </button>
            <button id="h-btn">
                <i class="fa-brands fa-github"></i>
            </button>
        </div>
    </header>
    <section>
        <nav id="banners">
            <div style="background-color: rgb(255, 145, 0);" class="banner" id="id-banner1"></div>
            <div style="background-color: rgb(255, 214, 127);" class="banner" id="id-banner2"></div>
            <div style="background-color: rgb(255, 0, 140);" class="banner" id="id-banner3"></div>
            <div style="background-color: rgb(255, 127, 176);" class="banner" id="id-banner4"></div>
        </nav>
        <nav id="btns-banners">
            <div class="btn-banner" onclick="trocarBanner(0)"></div>
            <div class="btn-banner" onclick="trocarBanner(1)"></div>
            <div class="btn-banner" onclick="trocarBanner(2)"></div>
            <div class="btn-banner" onclick="trocarBanner(3)"></div>
        </nav>
    </section>
</body>
</html>